<div>
  <!-- TODO: Add validations if necessary -->
  <ion-card>
    <ion-card-header style="display: flex;align-items:center">
      <button
        ion-button
        color="primary"
        clear
        icon-only
        small
        round
        class="helper-btn"
        (click)="help.show('Trigger Mode')"
      >
        <ion-icon name="help-circle"></ion-icon>
      </button>
      <ion-card-title>Camera Operation</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-label>Pre-Focus</ion-label>
        <ion-icon name="expand" item-start></ion-icon>
        <ion-toggle checked="false"></ion-toggle>
      </ion-item>

      <ion-list radio-group [(ngModel)]="operationMode">
        <ion-item>
          <ion-icon name="image" item-start></ion-icon>
          <ion-label>Single Shot</ion-label>
          <ion-radio checked slot="end" value="0"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Multi Shot</ion-label>
          <ion-icon name="images" item-start></ion-icon>
          <ion-radio slot="end" value="1"></ion-radio>
        </ion-item>
        <ion-list *ngIf="operationMode == 1">
          <ion-item>
            <ion-label color="primary">Number of shots per trigger</ion-label>
            <ion-input type="number" placeholder="2"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label color="primary">Time between shots (s)</ion-label>
            <ion-input type="number" placeholder="seconds"></ion-input>
          </ion-item>
        </ion-list>
        <ion-item>
          <ion-label>Long press</ion-label>
          <ion-icon name="bulb" item-start></ion-icon>
          <ion-radio slot="end" value="2"></ion-radio>
        </ion-item>
        <ion-item *ngIf="operationMode == 2">
          <ion-label color="primary">Long press time (s) </ion-label>
          <ion-input type="number" placeholder="seconds"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Video</ion-label>
          <ion-icon name="videocam" item-start></ion-icon>
          <ion-radio slot="end" value="3"></ion-radio>
        </ion-item>
        <ion-list *ngIf="operationMode == 3">
          <ion-item>
            <ion-label color="primary">Duration of the video (s)</ion-label>
            <ion-input type="number" placeholder="seconds"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label color="primary">Extension time (s)</ion-label>
            <ion-input type="number" placeholder="seconds"></ion-input>
          </ion-item>
        </ion-list>
        <ion-item>
          <ion-label>Half Press</ion-label>
          <ion-icon name="aperture" item-start></ion-icon>
          <ion-radio slot="end" value="4"></ion-radio>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</div>
